
/* general settings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --clr-p: #0032ff;
    --clr-s: #fff5ff;
    --clr-o: #3D6176;
    --in-fs: 1em;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* navbar */
.top-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav-links{
    margin-right: 2em;
    display: flex;
}

.nav-links ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--clr-p);
    font-weight: bold;
}

.nav-links ul li a:hover{
    color: var(--clr-o);
}

.logo{
    margin-left: 2em;
}

.logo img{
    height: 90px;
}

/* intro section */
.intro_section{
    padding: 2em 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.intro_section-words{
    width: 30%;
    height: auto;
    margin-left: 2em;
}

.intro_section-words p{
    font-weight: bolder;
    font-size: 3em;
}

.intro_section-words .join{
    text-decoration: none;
    font-weight: 600;
    background: var(--clr-p);
    padding: 1em 0;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 5px;
    color: var(--clr-s);
    font-size: 1em;
}

.intro_section-words .join:hover{
    background: #ffffff;
    border: 2px solid var(--clr-o);
    color: var(--clr-o);
    border-radius: 5px;
}

.intro_section-image img{
    height: 450px;
}

/* Search section */
.search-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}
.search-section_2{
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 10px var(--clr-s);
}
.search-section input{
    padding: 1em;
    height: 20px;
    font-size: var(--in-fs);
}

.search-section_2 #eventName{
    width: 510px;
    border-radius: 5px;
    border-width: 1px;
}

.search-section_2 #eventLocation{
    width: 310px;
    border-radius: 5px;
    border-width: 1px;
}

.search-section_2 #btnSearch{
    height: 3.3em;
    width: 10em;
    margin-left: 2em;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    background: #ffffff;
}

.search-section_2 #btnSearch:hover{
    background: var(--clr-o);
    color: var(--clr-s);
    cursor: pointer;
}

/* event category cards */
.event-category{
    margin-top: 4.5em;
    padding: 0 14.5em;
}

.event-category .category-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5em;
    margin-top: 2em;
}

.event-category .category-row .card1{
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 1px 2px 0px 4px var(--clr-s);
    transition: transform 300ms ease-in-out;
    display: flex;
}

.card1:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card1 img{
    width: 100px;
    height: 53px;
    object-fit: cover;
    padding-right: 2em;
}

/* Footer */
.footer{
    background: var(--clr-o);
    color: var(--clr-s);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
}
