/* general settings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --clr-p: #0032ff;
    --clr-s: #fff5ff;
    --clr-o: #3D6176;
    --in-fs: 1em;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}