/* general settings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --clr-p: #0032ff;
    --clr-s: #fff5ff;
    --clr-o: #3D6176;
    --in-fs: 1em;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* whole page container */
.wrapper{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* image container */
.image{
    background: url('../img/login.svg');
    background-repeat: no-repeat;
    height: 90vh;
    width: 50vw;
}

/* reset section */
.right-cont{
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conf-email h2{
    font-size: 2em;
    font-weight: bold;
}

.conf-email label{
    font-weight: bold;
}

.conf-email #email{
    width: 400px;
    font-size: var(--in-fs);
    padding: .7em;
    border-radius: 5px;
    margin-top: .3em;
}

.conf-email .passResetBtn{
    margin-top: 2em;
    padding: 1em;
    background: var(--clr-p);
    color: var(--clr-s);
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.conf-email .passResetBtn:hover{
    background: var(--clr-o);
    color: var(--clr-s);
    cursor: pointer;
}
 

